# Node modules
node_modules/

# Docker files
Dockerfile
docker-compose.yml

# ESLint and Prettier configuration files
.eslintrc
.eslintignore
.prettierrc
.prettierignore

# Build output
/dist
/build

# Logs
*.log

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
